@use "sass:math";

/* fira-code-latin-wght-normal */
@font-face {
  font-family: 'Fira Code Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/fira-code:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}


// Variables

$comp-padding: 8%;
$body-bg: #1b0224;
$border-color:#cc2277;
$comp-padding-bottom: 2%;
$body-font: "Fira Code Variable";
$card-border: 1px solid $border-color;
$card-sub-border: 0.5px solid $border-color;

@mixin button($padding-y, $padding-x) {
border: $card-border;
box-shadow: 4px 2px 6px 0px rgba(137, 31, 11, 0.35);
padding: $padding-y $padding-x;
margin: 0 1rem;
background: transparent;
color:white;
font-family: $body-font, sans-serif;
cursor: pointer;
span{
  color: #cc2277;
}
}

.title{
  color: #cc2277;
}

@mixin projbutton($border-width){
  padding: 8px 16px;
  border: $border-width solid $border-color;
  background: transparent;
  margin: 4px 6px;
  color: white;
  cursor: pointer;
  &:hover{
    background-color: #cc227730;
  }
}

@mixin sub-heading($sub-heading-font:24px){
  display: flex;
    align-items: center;
    h2{
      font-size: $sub-heading-font;
      padding-bottom: $comp-padding-bottom;
      font-weight: 100;
      span{
        color: $border-color;
      }
    }
}

@mixin heading($divider) {
  padding: math.div($comp-padding, $divider);
  padding-left: 10%;
  color: white;
  span{
    color: #cc2277;
  }
  @media screen and (max-width:767px) {
    padding: 32px;
  }
}

a{
  color: inherit;
}

body{
  font-family: $body-font, sans-serif;
  margin: 0;
  background-color: $body-bg;
  padding: 3rem;
  @media screen and (max-width:767px)  {
    padding: 0.5rem;
  }
}

h3{
  font-weight: 500;
}
p{
  font-weight: 200;
}
// Button CSS

.btn{
  @include button(1.25rem, 1rem);
  @media screen and (max-width:767px) {
    @include button(0.5rem, 1.5rem);
    margin: 0.5rem;
  }
}

.btn{
  &:hover{
    transform: translateY(6px);
  }
}

// Navbar CSS

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
      margin: 0px 16px;
    }
  }
  @media screen and (max-width:767px) {
    flex-direction: column;
    align-items: flex-start;
    .nav-buttons{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .closebtn{
        width: fit-content;
        justify-self: flex-end;
      }
      @media screen and (max-width:767px) {
        background-color: #1b0224;
        padding: 8px 16px 8px 16px;
        width: 100%;
        display: grid;
        justify-content: left;
        position: absolute;
        z-index: 3; 
      }
    }
  }
}

// Intro Section CSS

#Intro{
  padding: $comp-padding;
  padding-bottom: $comp-padding-bottom ;
  img{
    margin-left: 70%;
    margin-top: -5%;
    @media screen and (max-width:767px) {
      display: none;
    }
  }
  .name{
    width: 60%;
    color: white;
    font-size: 28px;
    font-weight: 100;
    .bar{
      color: $border-color;
      animation: fadeInOut 1.5s infinite;
    }
    @media screen and (max-width:767px) {
      width: 100%;
      font-size: medium;
    }
  }
  .summary{
    color: rgb(196, 196, 196);
    width: 60%;
    line-height: 1.5rem;
    max-height: fit-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor:pointer;
    @media screen and (max-width:767px) {
      width: 100%;
    }
  }

  .full-text{
    @extend .summary;
    white-space: normal;
  }
  
}

@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Skills Section CSS

#skills{
  @include heading(2);
  img{
    @media screen and (max-width:767px) {
      display: none;
    }
  }
  .sub-heading {
    @include sub-heading;
    @media screen and (max-width:767px) {
      display: grid;
  }
  }
  @media screen and (max-width:767px) {
    padding: 0;
    margin: auto 16px;
  }
}

.skill-card{
  border: $card-border;
  width: fit-content;
  padding: 0.5dvw;
  margin: 16px;
  @media screen and (max-width:767px) {
    margin: 8px;
    width: 300px;
    height: auto;
    font-size: 14px;
  }
  h3{
    border-bottom: $card-sub-border;
    font-size: 16px;
  }
  p{
    color: rgb(175, 175, 175);
    @media screen and (max-width:767px) {
      font-size: medium;
    }
  }
}

.skillscontainer{
  display: flex;
  flex-wrap: wrap;
  margin-left: 12%;
  @media screen and (max-width:767px) {
    margin:0%;
  }
  
}

.skillscontainerwithIllust{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @media screen and (max-width:767px) {
    display: flex;
    flex-wrap: wrap;
  }
}

// Certificates Section CSS

#certificates{
  @include heading(2);
  margin-bottom: 32px;
  button{
    @include projbutton(1px);
  }
  .sub-heading{
    @include sub-heading;
    @media screen and (max-width:767px) {
      display: grid;
  }
  @media screen and (max-width:767px) {
    padding: 0;
}
}
  .certificate-card{
    display: inline-flex;
    border: $card-border;
    border-radius: 8px;
    padding: 16px;
    img{
      width: 64px;
      height: auto;
      margin: 0 16px 0 0;
      border-radius: 9999px;
    }
    p{
      display: grid;
      color: white;
      span{
        font-size: 12px;
        color:gray;
      }
    }
  }
  .comp-icon{
   display: block;
  }
  .certificate-card-container{
    display: flex;
    align-items: center;
    gap: 24px;
    @media screen and (max-width:767px) {
        display: grid;
      }
  }
  @media screen and (max-width:767px) {
      padding: 0;
      margin: auto 16px;
    }
}

// Projects section CSS

#projects{
  @include heading(2);
  margin-bottom: 32px;
  .sub-heading{
    @include sub-heading;
    @media screen and (max-width:767px) {
      display: grid;
      margin: 0 16px;
  }
}
    button:nth-child(odd){
      @include projbutton(1px);
    }

    button:nth-child(even){
      @include projbutton(2px);
    }
    @media screen and (max-width:767px) {
      padding: 0;
      margin: auto 16px;  
  }
}

.project-card{
  border: $card-border;
  margin: 12px;
  padding: 1dvw;
  width: 45%;
  font-weight: 100;
  h3{
    height:24px;
  }
  ul{
    height:clamp(328px,328px,380px);
  }
  @media screen and (max-width:767px) {
    width: 100%;
    margin: 6px auto;
    font-size: 14px;
    img{
      width: 80dvw;
    }
  }
}

.projcontainer {
  display: flex;
  flex-wrap: wrap;
  
}

// Small Projects

#small-projects{
  @include heading(4);
  .sub-heading{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0px 16px 24px 16px;
    @include sub-heading(20px);
    div{
      display: flex;
      align-items: baseline;
    }
    a{
      justify-self: flex-end;
    }
    @media screen and (max-width:767px){
     justify-content: space-around;
     div{
      display: grid;
    }
    }
  }
  @media screen and (max-width:767px) {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  button{
    @include projbutton(2px);
  }
}

.smallprojcard{
  border: 1px solid $border-color;
  color: white;
  padding: 0.5dvw;
  width: fit-content;
  height: 180px;
  @media screen and (max-width:767px) {
    margin: 12px auto;
  }
  button:nth-child(odd){
    @include projbutton(1px);
  }

  button:nth-child(even){
    @include projbutton(2px);
  }
  button{
    @include projbutton(1px);
  }
  h3{
    font-weight: 500;
  }
  p{
    font-weight: 100;
    width: 300px;
    &:nth-child(1){
    border-bottom: $card-sub-border;
  }
}
}

.smallprojcontainer{
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  @media screen and (max-width:767px) {
    justify-content: center;
    flex-direction: column;
    margin: 16px auto;
  }
}


// Ux works CSS  

#uxWorks{
  @include heading(2);
  .sub-heading{
    @include sub-heading;
    @media screen and (max-width:767px) {
     display: grid;
     margin-left: 16px;
    }
  }
  @media screen and (max-width:767px) {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.uxcard{
  border: 1px solid $border-color;
  padding: 0.5dvw;
  width: fit-content;
  height: 448px;
  @media screen and (max-width:767px) {
    margin: 12px auto;
    font-size: 14px;
    transform: scale(0.95);
  }
  button{
  @include projbutton(1px);
}
h3{
  width: 330px;
  height: 48px;
} 
p{
  width: 330px;
  height: 96px;
}
}

.uxcontainer{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  @media screen and (max-width:767px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}


// Footer CSS

.footer{
  border-top: $card-sub-border;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1dvw;
  @media screen and (max-width:767px) {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
  }
  h4{
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 300;
    img{
      width: 64px;
      height: auto;
    }
  }
  .nav-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 12px;
    a:hover{
        color:$border-color;
    }
  }
  .icons{
    display: flex;
    align-items: flex-start;
    column-gap:24px;
    @media screen and (max-width:767px) {
      margin: 16px;
    }
    a{
      height: 32px;
      width: auto;
    }
    a:hover{
      border-bottom: 2px solid #cc2277;
    }
  } 
}

.arrow{
  @media screen and (max-width:767px) {
    margin-left: 90%;
  }
  margin-left: 98%;
  border: $card-sub-border;
  border-radius: 999px;
  padding: 4px;
  cursor: pointer;
}

